<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmQeEvf5jRPvvl5tF3_WnTCiEEw-H50Kg</string>
	<key>GCM_SENDER_ID</key>
	<string>616641912323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imTaskManagment</string>
	<key>PROJECT_ID</key>
	<string>improjectmanagmentipcb</string>
	<key>STORAGE_BUCKET</key>
	<string>improjectmanagmentipcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616641912323:ios:8adbb495529625578ab836</string>
</dict>
</plist>